p {
    margin-bottom: 0px;
}

.add_doctor {
    width: 95%;
    background-color: var(--background-white);
    display: flex;
    font-family: var(--font-family);
}

.dark-mode .add_doctor {
    background-color: var(--background-dark)
}

.add_doctor_base {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 1250px;
}

.add_doctor_base {
    width: 90%;
    max-width: 1400px;
    /* height: 100vh; */
    display: flex;
    margin: 10px;
    /* align-items: center; */
    /* justify-content: center; */
    flex-direction: column;
}

.add_doctor_heding {
    display: flex;
    justify-content: center;
    padding: var(--padding-box);
    border:0.3px solid rgb(223, 223, 223);
    background-color: var(--background-color);
    width: 100%;
    margin-bottom: var(--margin-top);
    border-radius: var(--border-radius);
}

.add_doctor_heding p {
    font-size: var(--font-size-heading);
    font-weight: var(--heading);
}

.add_doctor_submit_card {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: var(--border-radius);
    background-color:var(--background-color);
    border: 0.2px solid rgb(223, 223, 223);
}

.dark-mode .add_doctor_heding {
    background-color: var(--background-dark-tab);
    border: none;
}

.dark-mode .add_doctor_submit_card {
    padding: 10px;
    background-color: var(--background-dark-tab);
    border-radius: var(--border-radius);
    border: none;
}

.add_doctor_submit_form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* align-items: center; */

}

.add_doctor_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.add_doctor_submit_index {
    width: 47%;
    max-width: 650px;
}

.add_doctor_submit_input {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add_doctor_submit_input input {
    padding: 7px 10px;
    width: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--light-mode-border);
    background-color: var(--background-color);
}

.dark-mode .add_doctor_submit_input input {
    background-color: var(--background-dark);
    color: var(--background-white);
    border: none;
}


.add_doctor_submit_input label {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-top);
    font-weight: var(--font-weight-normal);
}

.add_doctor_submit_input select {
    padding: 6px 10px;
    width: 100%;
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--light-mode-border);
    background-color: var(--background-color);
}

.dark-mode .add_doctor_submit_input select {
    background-color: var(--background-dark);
    color: var(--background-white);
    border: none;
}

.dark-mode .add_doctor_submit_input input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(0);

}

.add_doctor_submit_input textarea {
    height: 140px;
    max-height: 140px;
    min-width: 120px;
    padding: var(--padding-box);
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--light-mode-border);
    background-color: var(--background-color);
}

.dark-mode .add_doctor_submit_input textarea {
    background-color: var(--background-dark);
    color: var(--background-white);
    border: none;
}

.dark-mode ::placeholder {
    color: var(--background-white);
}

.add_doctor_submit {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.add_doctor_btn {
    margin-top: var(--margin-top);
    font-family: var(--font-family);
    width: 100%;
    border-radius: var(--border-radius);
    border: var(--light-mode-border);
    background-color: var(--background-color);
    color: var(--bottom-color);
    padding: 7px;

}

.dark-mode .add_doctor_btn{
    margin-top: var(--margin-top);
    font-family: var(--font-family);
    width: 100%;
    border-radius: var(--border-radius);
    border:none;
    background-color: var(--bottom-color);
    color: var(--botton-text);
    padding: 7px;
}