.forgot_passward_main {
    height: 100vh;
    background-color: var(--bacground)
}

.forgot_passward_page_base {
    height: 100vh;
    min-height: 350px;
    display: flex;
    justify-content: center;
    background-color: var(--bacground);
    align-items: center;
}

.forgot_passward_form {
    width: 100%;
    min-width: 280px;
    max-width: 700px;
    height: 100vh;
    min-height: 350px;
    max-height: 350px;
    background-color: var(--background-white);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    margin: var(--margin-top);
}

.forgot_password_company_name {
    text-align: center;
    font-weight: var(--heading);
    font-size: var(--font-size-heading);
    font-family: var(--font-family);
    text-transform: var(--uppercase);
    margin-bottom: var(--margin-botton);
}

.forgot_passward_details {
    width: 280px;
    font-size: var(--details-font-size);
    font-weight: 500;
    text-transform: none;
    margin-top: var(--margin-top);
}

.forgot_passward_form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 270px;
    max-width: 470px;
}

.forgot_password_submit_form {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top);
    width: 90%;
    min-width: 270px;
    max-width: 470px;
}

.forgot_password_submit_form_label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: var(--margin-top);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--font-size);
}

.forgot_password_label {
    margin-top: var(--margin-top);
    margin-bottom: var(--margin-botton);
}

.forgot_passward_input_box {
    width: 100%;
    padding: var(--padding-box);
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--border);
    margin-bottom: var(--margin-botton);
}

.forgot_password_btn button {
    margin-top: var(--margin-top);
    font-family: var(--font-family);
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--bottom-color);
    color: var(--botton-text);
    padding: 10px;

}


.popup {
    position: absolute;
    background-color: var(--bacground);
    height: 100vh;
    width: 100vw;
    padding: 20px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup_main {
    width: 90vw;
    max-width: 700px;
    min-width: 27px;
    height: 100vh;
    min-height: 350px;
    max-height: 350px;
    overflow: scroll;
    border-radius: var(--border-radius);
    background-color: var(--background-white);
}

.close {
    width: 100%;
    float: right;
    display: flex;
    justify-content: flex-end;
}

.close_icon {
    font-size: 28px;
    cursor: pointer;
    margin-right: 10px;
}

.otp_varification_company_name {
    text-align: center;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-weight: var(--heading);
    font-size: var(--font-size-heading);
    font-family: var(--font-family);
    text-transform: var(--uppercase);
    margin-bottom: var(--margin-botton);
}

.otp_varification_details {
    width: 100%;
    min-width: 280px;
    max-width: 350px;
    display: flex;
    justify-content: center;
    font-size: var(--details-font-size);
    font-weight: 500;
    text-transform: none;
}
.otp_varification_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.otp_varification_form_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    min-width: 270px;
    max-width: 470px;
}

.otp_varification_submit_form {
    display: flex;
    flex-direction: column;
    margin-top: var(--margin-top);
    width: 90%;
    min-width: 270px;
    max-width: 470px;
}

.otp_varification_submit_form_label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: var(--font-size);
}

.otp_varification_label {
    margin-bottom: var(--margin-botton);
}

.otp_varification_input_box {
    width: 100%;
    padding: var(--padding-box);
    font-size: var(--font-size);
    font-family: var(--font-family);
    border-radius: var(--border-radius);
    border: var(--border);
    margin-bottom: var(--margin-botton);
}
.otp_varification_btn button {
    margin-top: var(--margin-top);
    font-family: var(--font-family);
    width: 100%;
    border-radius: var(--border-radius);
    border: none;
    background-color: var(--bottom-color);
    color: var(--botton-text);
    padding: 10px;
    margin-bottom: 30px;

}