p {
    margin-bottom: 0px;
}

.admin_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: var(--font-family);
}

body {
    background-color: var(--background-white);
}

.dark-mode {
    background-color: var(--background-dark);
    color: var(--background-white-dark);
}

.admin_main_base_page {
    margin: 10px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* max-width: 100%; */
}

.admin_base_page {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 98%;
}

.admin_page_heading {
    font-size: var(--font-size-heading);
    font-family: var(--font-family);
    font-weight: var(--heading);
    margin-bottom: 0;
}

.admin_status {
    display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
    gap: 2%;
}

.admin_status_card {
    width: 25%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: var(--border-radius);
    padding: var(--padding-box);
    padding-left: 20px;
    backdrop-filter: var(--blur);
    box-shadow: var( --box-shadow);
}

.admin_status_card p {
    font-size: var(--heading);
    font-weight: var(--font-weight-normal);
}

.admin_status_card h3 {
    font-size: var(--font-size);
    font-weight: var(--heading);
    /* font-size: var(--font-size-heading); */
}

.card_one {
    background-color: #7ff8ff;
}

.dark-mode .card_one {
    background-color: var(--background-dark-tab);
}

.card_two {
    background-color: #fff84b;
}

.dark-mode .card_two {
    background-color: var(--background-dark-tab);
}

.card_three {
    background-color: #ff7d7d;
}

.dark-mode .card_three {
    background-color: var(--background-dark-tab);
}

.card_four {
    background-color: #6fff67;
}

.dark-mode .card_four {
    background-color: var(--background-dark-tab);
}

.dark-mode .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-tickLabel {
    fill: var(--background-white-dark);
}
.dark-mode .css-1k2u9zb-MuiChartsAxis-root .MuiChartsAxis-line {
    stroke: var(--background-white-dark);
}
.admin_report {
    display: flex;
    width: 100%;
    max-width: 98%;
    gap: 2%;
    margin-top: 10px;
}

.admin_dialy_report {
    margin-top: var(--margin);
    width: 30%;
    background:#fff;
    border-radius: var(--border-radius);
    box-shadow: var( --box-shadow);
    /* background-color: red; */
}
.dark-mode .admin_dialy_report{
    background:var(--background-dark-tab);
}

.admin_monthly_report {
    width: 68%;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var( --box-shadow);
    margin-top: var(--margin);
}
.dark-mode .admin_monthly_report{
    background:var(--background-dark-tab);
}
.MuiChartsLegend-series text{
    fill: rgb(0, 0, 0) !important;
}
.dark-mode .MuiChartsLegend-series text{
    fill: rgb(255, 255, 255) !important;
}
.admin_daily_report_heading,
.admin_monthly_report_heading {
    padding: var(--padding-box);
    font-size: var(--font-size);
    font-weight: var(--heading);
}

.admin_daily_report_base {
    margin-top: var(--margin);
    padding: var(--padding-box);
    /* font-size: var(--font-size); */
    font-weight: var(--font-weight-normal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.admin_report_details,
.admin_report_data {
    width: 50%;
}

.admin_report_data p,
.admin_report_details p {
    margin-top: 15px !important;
    margin-top: var(--margin);
    /* background-color: #6fff67; */
    border-bottom: solid 1px gray;
}



/* dashboard navbar statr  */
.dashboard_navbar {
    width: 100%;
    background-color: aliceblue;
    border-radius: var(--border-radius);
    padding: var(--padding-box);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--margin);
}

.dark-mode .dashboard_navbar {
    background-color: var(--background-dark-tab);
}

.dashboard_navbar_user_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: var(--margin);

}

.dashboard_navbar_user_pic {
    margin: var(--margin-short);
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 195, 195);
}

.dashboard_navbar_user_pic img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.dashboard_navbar_user_name h2 {
    font-size: var(--font-size-heading);
    font-weight: var(--heading);
    font-family: var(--font-family);
}

.dashboard_navbar_details {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: var(--margin);
}

.dashboard_navbar_search_page {
    margin-right: var(--margin);
}

.search_box {
    display: flex;
    border: var(--border);
    border-radius: var(--border-radius);
    width: 250px;
    height: 30px;
    font-size: var(--font-size);
    font-family: var(--font-family);
    background-color: aliceblue;
    /* color: black; */
}
.dark-mode .search_box{
    background-color: var(--background-dark-tab);
    color: var(--background-white-dark);
    border: var(--border-white-dark)
}

::placeholder {
    /* color: black; */
}

.dashboard_navbar_setting {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard_navbar_setting a {
    font-size: 24px;
}

.setting_icon {
    /* color: #919191; */
    transition: all 0.3s;
}

.setting_icon:hover {
    color: rgb(70, 150, 248);
}

/* dashboard navbar end  */

.heading_details{
    padding: var(--padding-box);
    font-size: 12px;
    color: gray;
    width: 100%;
    text-align: justify;

}
.dark-mode .heading_details{
    color: rgb(197, 219, 255);
}
.heading_details_link a{
    font-size: 12px;
    font-weight: 600;
    color: rgb(0, 128, 255);
}
.dark-mode .heading_details_link a{
    color: rgb(78, 78, 252);
}
.performance_monthly_report {
    width: 68%;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var( --box-shadow);
    margin-top: var(--margin);
}
.dark-mode .performance_monthly_report{
    background:var(--background-dark-tab);
}


.doctors_report_card {
    margin-top: var(--margin);
    width: 30%;
    background:#fff;
    border-radius: var(--border-radius);
    box-shadow: var( --box-shadow);
    /* background-color: red; */
}
.dark-mode .doctors_report_card{
    background:var(--background-dark-tab);
}
.docters_report{
    display: flex;
    justify-content: center;
    align-items: center;
}